<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Your are our customer, welcome!
    <div >  {{username}}  </div>

  <form method="get" action="/">
      <button type="submit">Logout</button>
  </form>

  <form  action="/locate" method="post">
  <p>Please enter your location:
  <input type="text" name="Longitude">
  <input type="text" name="Latitude">
  <input type="submit" value = "Submit" >
  </p >
  </form>


  </body>
</html>
