<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Your are our customer, welcome!
    <div >  {{username}}  </div>

  <form method="get" action="/">
      <button type="submit">Logout</button>
  </form>

  <form  action="/locate" method="post">
  <p>Please enter your location:
  <input type="text" name="Longitude">
  <input type="text" name="Latitude">
  <input type="submit" value = "Submit" >
  </p >
  </form>


  <form  action="/search" method="POST">
    <p>Condition:
    <label>The Price_level you can accept:</label>
    <select  name="Price_level">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="3">4</option>
    </select>

    <label>The Cuisine_Type you like:</label>
    <select  name="Cuisine_Type">
    {% for n in cui %}
    <div><option value={{n}}>{{n}}</option></div>
    {% endfor %}
    </select>

    <input type="submit" value="search">
    </p>
  </form>



  {% with messages = get_flashed_messages(category_filter=["ok"]) %}
    {% if messages %}
      <script>
        var messages = {{ messages | safe }};
        for (var i=0; i<messages.length; i++) {
          alert(messages[i]);
        }
      </script>
    {% endif %}
  {% endwith %}

</body>
</html>
