
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Buy Meal Plan</title>
    <link rel="stylesheet" href="/static/stylelogin.css" type="text/css">
  </head>
  <body>
    <div class="box">
      <div class="app-title">
        <h1>Some restaurants we found for you:</h1>
      </div>

      <div class="app-title">
        {% for n in data %}
          {{n}}<br>
        {% endfor %}
      </div>

        <div class="app-title">
          <h2>The restaurant your want to buy:</h2>
        </div>

        <div class="app-title">
          <form action="/buy" method="post">
          <select  name="buyname">
          {% for n in data %}
          <div><option value="{{n}}">{{n}}</option></div>
          {% endfor %}
          </select>
        </div>
        <input type="submit" value="buy" class="btn btn-primary btn-large btn-block">
        </form>
    </div>

  </body>
</html>
