Hello, pleaes input the following information:

<form action="/signupsuccess" method="POST">
  <input type="username" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="name" name="name" placeholder="Name">
  <input type="submit" value="Submit">
</form>

{% with messages = get_flashed_messages(category_filter=["signupfail"]) %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}
